<h1>Edit Item Price</h1>
</br>
<%= render 'form', price_list: @price_list %>
</br>

<%= link_to 'Show', @price_list, class:"btn btn-secondary" %> 
<%= link_to 'Back', price_lists_path, class:"btn btn-dark" %>
