<div class="row">


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Payroll </h5>
                <a href="#" class="btn btn-primary">Access App</a>
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inventory Management System</h5>
        <%= link_to "Access App", inventory_index_path, class:"btn btn-primary", target: :blank%>
      </div> 
    </div>  
  </div> 
  
  
  <div> 
  </div> 

  <div class="col-sm-6"> 
    <div class="card"> 
      <div class="card-body"> 
        <h5 class="card-title">Admin</h5> 
        <%= link_to "Login", home_inventory_path, class:"btn btn-primary"%> 
      </div> 
    </div> 
  </div> 


</div>